.containerEl {
  height: 85dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.control[data-inactive] {
  opacity: 0;
  cursor: default;
}
