.socialContainer {
  background-color: #fbf5f3;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 280px;
  left: 10px;
  border-radius: 25px;
  z-index: 999999;
}

.socialLink {
  padding: 10px;
}

.socialImg {
  background-color: none;
  background: none;
}
